#outer-div {
  font-size: 14px;
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 60px);
  max-width: 400px;
  box-shadow: 0px 0px 5px 0px #464444;
  background-color: whitesmoke;
  border-radius: 8px;
}

#inner-div {
  text-align: center;
  width: 100%;
  margin: 0px;
}

#inner-div label {
  text-align: left;
  margin: 0 0 5px 32px;
}

#inner-div input {
  margin-bottom: 10px;
  width: calc(100% - 80px);
}

#inner-div label {
  display: block;
}

#p-text {
  display: inline;
  text-align: center;
  font-size: 0.9em;
}

#p-register {
  display: inline;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: underline;
}

#p-signin {
  display: block;
  margin: 15px 0;
  font-size: 1.5em;
}

#register-button {
  height: 40px;
  max-width: 200px;
  width: calc(100% - 100px);
  margin-top: 10px;
}